section {
    background-color: darkslategray;
    border: solid darkslategray 1px;
    color: white;
}

footer {
    height: 500px;
    background-color: darkslategray;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
}

.navul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 500px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

.hero-text {
    margin-left: 10px;
}

.button {
    width: 200px;
    height: 56px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
}

.navbar {
    text-decoration: none;
    text-decoration-color: chartreuse;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 256px;
    max-height: 256px;
    padding-left: 10px;
}

p {
    max-width: 1300px;
}

body {
    background-color: #36454f;
    border-left: 200px solid darkslategray;
    border-right: 200px solid darkslategray;
    font-family: "Arial", sans-serif;
}

.code-snippet {
    background-color: black !important;
    border-radius: 10px;
    padding: 1px;

}

pre {
    background-color: black !important;
    border-top: 50px 0;
}

code {
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    background-color: black;
}

img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.5);
}