section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}


.hero {
    background-color: darkslategray;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 500px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
}

.hero-text {
    margin-left: 80px;
}

.button {
    width: 200px;
    height: 56px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
}